<form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <h3>{{ project.uid ? 'Update ' : 'New '}} Project</h3>

  <div class="row gtr-200">
    <div class="col-6 col-12-medium">
      <div class="row gtr-uniform">
        <!-- Break -->
        <div class="col-6">
          <span>Name</span>
          <input type="text"
                 formControlName="name"
                 placeholder="Enter a project name">
          <span errorMsg
                [msg]="getErrorMsg('name', myForm)"
                *ngIf="invalidField('name', initialFormValues, myForm)">
          </span>
        </div>

        <div class="col-6">
          <span>Tech</span>
          <input type="text"
                 formControlName="tech"
                 placeholder="Enter the tech stack">
          <span errorMsg
                [msg]="getErrorMsg('tech', myForm)"
                *ngIf="invalidField('tech', initialFormValues, myForm)">
          </span>
        </div>

        <div class="col-12">
          <span>Description EN</span>
          <textarea type="text"
                    formControlName="description_en"
                    placeholder="Enter a description in English">
          </textarea>
          <span errorMsg
                [msg]="getErrorMsg('description_en', myForm)"
                *ngIf="invalidField('description_en', initialFormValues, myForm)">
          </span>
        </div>
        <div class="col-12">
          <span>Description ES</span>
          <textarea type="text"
                    formControlName="description_es"
                    placeholder="Enter a description in Spanish">
          </textarea>
          <span errorMsg
                [msg]="getErrorMsg('description_es', myForm)"
                *ngIf="invalidField('description_es', initialFormValues, myForm)">
          </span>
        </div>
      </div>
    </div>

    <div class="col-6 col-12-medium col-6-images--flex-center" *ngIf="project.uid;else createProjectID">
      <app-images [project_uid]="project.uid"></app-images>
    </div>
  </div>

  <ng-template #createProjectID>
    <ul class="actions button--flex-center">
      <li><input type="submit" value="Create Project ID" (click)="createProject()" [disabled]="myForm.invalid"/></li>
    </ul>
    <div class="error-container" *ngIf="invalid">
      <div class="error-message">
        <p>{{errorMsg}}</p>
      </div>
      <a class="icon close-icon" (click)="closeErrorMsg()"><i class="fa-solid fa-circle-xmark"></i></a>
    </div>
  </ng-template>

  <div class="col-12 submit-container">
    <ul class="actions">
      <li><input type="submit" value="Submit" [disabled]="myForm.invalid || !setID"/></li>
    </ul>
    <div class="error-container" *ngIf="invalid">
      <div class="error-message">
        <p>{{errorMsg}}</p>
      </div>
      <a class="icon close-icon" (click)="closeErrorMsg()"><i class="fa-solid fa-circle-xmark"></i></a>
    </div>
  </div>

</form>
