
/* Toast Message */
::ng-deep {
  .p-toast-message-content {
    background-color: #f0fdf5 !important;
    border: solid 0.02em #42e78a5e;
    padding: 1em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    gap: 1em;
    font-family: "Roboto Slab", serif;
    button {
      color: #208120 !important;
      box-shadow: none !important;
      border-radius: 0 !important;
      border: none !important;
      padding: 0 !important; }
    button.p-link {
      height: 3em;
      width: 3em; }
    button.p-link:hover,
    button.p-link:active,
    button.p-link:focus{
      background-color: transparent; }}
  .p-toast-summary {
    color: #208120;
    font-size: medium;
    font-weight: 600; }
  .p-toast-detail {
    font-size: small; }
  .p-toast-message-icon {
    color: #208120; }
}

img {
  animation: rebound 1s ease-in-out;
}

.spinner-center {
  padding: 20%;
  text-align: center;
}

@keyframes rebound {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(4vh);
  }
  60% {
    transform: translateY(2vh);
  }
}

