
<!-- Wrapper -->
<div id="wrapper">

  <!-- Main -->
  <div id="main">
    <div class="inner">

      <!-- Header -->
      <app-header></app-header>

      <div class="spinner-center" *ngIf="isLoading; else loaded">
        <p-progressSpinner ariaLabel="loading" />
      </div>
      <ng-template #loaded>
        <!-- Banner -->
        <section id="banner">
          <div class="content">
            <header>
              <h1>Hi, I’m Sheyla<br />
                and I work as Software Developer.</h1>
              <p>I design and build software applications.</p>
            </header>
            <p>Graduate in Computer Science with advanced knowledge in programming and experience with various languages, technologies and tools for software development.</p>
            <p-toast key="resume"/>
            <ul class="actions">
              <li>
                <a role="button" aria-label="Download CV" class="button big icon solid fa-download" (click)="download()">Resume</a></li>
            </ul>
          </div>
          <span class="image object" *ngIf="image">
          <img [src]="getImage()" alt="Representative image of software development with teams collaborating on a laptop" />
        </span>

        </section>

        <!-- Section About Me-->
        <section id="about-me">
          <app-about-me></app-about-me>
        </section>

        <!-- Section Skills-->
        <section id="skills">
          <app-skills></app-skills>
        </section>

        <!-- Section Works-->
        <section id="works">
          <app-works></app-works>
        </section>

        <section id="contact">
          <app-contact></app-contact>
        </section>
      </ng-template>


      <!-- Footer -->
      <app-footer></app-footer>
    </div>

  </div>

  <!--   Sidebar-->
  <app-sidebar></app-sidebar>

</div>


