
<!-- Wrapper -->
<div id="wrapper">

  <!-- Main -->
  <div id="main">
    <div class="inner">

      <!-- Header -->
      <app-header></app-header>

      <div class="spinner-center" *ngIf="isLoading; else loaded">
        <p-progressSpinner ariaLabel="loading" />
      </div>
      <ng-template #loaded>
        <!-- Banner -->
        <section id="banner">
          <div class="content">
            <header>
              <h1>{{ 'BANNER.GREETING' | translate }}
              </h1>
              <p>{{ 'BANNER.INTRO' | translate }}</p>
            </header>
            <p>{{ 'BANNER.DESCRIPTION' | translate }}</p>
            <p-toast key="resume"/>
            <ul class="actions">
              <li>
                <a role="button" aria-label="Download CV" class="button big icon solid fa-download" (click)="download()">{{ 'BANNER.DOWNLOAD_CV' | translate }}</a></li>
            </ul>
          </div>
          <span class="image object" *ngIf="image">
          <img [src]="getImage()" alt="{{ 'BANNER.ALT_IMAGE' | translate }}"/>
        </span>

        </section>

        <!-- Section About Me-->
        <section id="about-me">
          <app-about-me></app-about-me>
        </section>

        <!-- Section Skills-->
        <section id="skills">
          <app-skills></app-skills>
        </section>

        <!-- Section Works-->
        <section id="works">
          <app-works></app-works>
        </section>

        <section id="contact">
          <app-contact></app-contact>
        </section>
      </ng-template>


      <!-- Footer -->
      <app-footer></app-footer>
    </div>

  </div>

  <!--   Sidebar-->
  <app-sidebar></app-sidebar>

</div>


