<!-- Sidebar -->
<div id="sidebar" [class.inactive]="isSidebarInactive">
  <div class="inner">
    <!-- Menu -->
    <nav id="menu">
      <header class="major">
        <h2>{{ 'SIDEBAR.TITLE' | translate }}</h2>
      </header>
      <ul>
        <li><a href="#banner">{{ 'SIDEBAR.BANNER' | translate }}</a></li>
        <li><a href="#about-me">{{ 'SIDEBAR.ABOUT_ME' | translate }}</a></li>
        <li><a href="#skills">{{ 'SIDEBAR.SKILLS' | translate }}</a></li>
        <li><a href="#works">{{ 'SIDEBAR.WORKS' | translate }}</a></li>
        <li><a href="#contact">{{ 'SIDEBAR.CONTACT' | translate }}</a></li>
<!--        <li><a routerLink="/admin/tabs">Admin</a></li>-->
      </ul>
    </nav>
  </div>
  <a class="toggle" (click)="toggleSidebar($event)"></a>
</div>
