
<header class="major">
  <h2>{{ 'WORKS.SECTION_TITLE' | translate }}</h2>
</header>
<div class="posts" *ngIf="projects" role="region">
  <article *ngFor="let project of projects" role="listitem"  [attr.aria-labelledby]="'project-' + project.uid">
    <div class="image-container">
      <p-galleria
        [value]="getImages(project.uid!)"
        [showIndicators]="true"
        [showThumbnails]="false"
        [attr.aria-label]="'Gallery of images for ' + project.name">
        <ng-template pTemplate="item" let-item let-i="index">
          <div class="image-overlay" [ngClass]="{'first-item': i === 0}">
            <img [src]="item" alt="Image of {{project.name}}" />
            <div class="top-text-overlay">
              {{project.tech}}
            </div>
          </div>
        </ng-template>
      </p-galleria>
    </div>
    <h3 [id]="'project-' + project.uid">{{project.name}}</h3>
    <p>{{getProjectDescription(project)}}</p>
  </article>
</div>

