
<header class="major">
  <h2>About Me</h2>
</header>

<div class="row gtr-200">

  <div class="col-6 col-12-medium">
    <p>
      Graduate in Computer Science with advanced knowledge in programming and extensive
      experience in software development using leading technologies such as .Net and
      Angular. Additionally, I have skills in developing mobile applications with Flutter. I stand
      out for my proactive initiative and my ability to face challenges with creativity and
      resolution. With an approach focused on excellence and innovation, I constantly seek
      opportunities to significantly contribute to the success of projects and exceed
      expectations.</p>

    <h3>Education</h3>
    <blockquote><strong>Bachelor of Computer Science, University of Havana, Cuba.</strong>
      <p>September 2016 — December 2022</p>
    </blockquote>

    <h3>Hobbies</h3>
    <blockquote>
      I am passionate about software
      development and staying up to
      date with the latest
      developments in science and
      technology <i class="fa-solid fa-laptop"></i>. Additionally, I enjoy
      strategy games <i class="fa-solid fa-gamepad"></i>, sports <i class="fa-solid fa-dumbbell"></i> and life
      in general <i class="fa-solid fa-leaf"></i>.
    </blockquote>
  </div>
  <div class="col-6 col-12-medium">
      <app-pie-graphic></app-pie-graphic>
  </div>
</div>
