
<header class="major">
  <h2>{{ 'ABOUT_ME.SECTION_TITLE' | translate }}</h2>
</header>

<div class="row gtr-200">

  <div class="col-6 col-12-medium">
    <p>
      {{ 'ABOUT_ME.DESCRIPTION' | translate }}</p>

    <h3>{{ 'ABOUT_ME.EDUCATION_TITLE' | translate }}</h3>
    <blockquote><strong>{{ 'ABOUT_ME.EDUCATION_DETAIL' | translate }}</strong>
      <p>{{ 'ABOUT_ME.EDUCATION_PERIOD' | translate }}</p>
    </blockquote>

    <h3>{{ 'ABOUT_ME.HOBBIES_TITLE' | translate }}</h3>
    <blockquote>
      {{ 'ABOUT_ME.HOBBIES_DETAILS.TECHNOLOGY' | translate }} <i class="fa-solid fa-laptop"></i>.{{ 'ABOUT_ME.HOBBIES_DETAILS.GAMES' | translate }}<i class="fa-solid fa-gamepad"></i>{{ 'ABOUT_ME.HOBBIES_DETAILS.SPORTS' | translate }}<i class="fa-solid fa-dumbbell"></i>{{ 'ABOUT_ME.HOBBIES_DETAILS.LIFE' | translate }}<i class="fa-solid fa-leaf"></i>.
    </blockquote>
  </div>
  <div class="col-6 col-12-medium">
      <app-pie-graphic></app-pie-graphic>
  </div>
</div>
