
<header class="major">
  <h2>{{ 'SKILLS.SECTION_TITLE' | translate }}</h2>
</header>
<div class="features" aria-labelledby="skills-heading">
  <article *ngFor="let skill of skills$ | async" role="region" [attr.aria-labelledby]="'skill-' + skill.uid">
    <span class="icon" aria-hidden="true"><i class="span-icon {{skill.icon}}"></i></span>
    <div class="content">
      <h3 [id]="'skill-' + skill.uid">{{ skill.name }}</h3>
      <p-rating [(ngModel)]="skill.rating" [cancel]="false"
                [attr.aria-label]="'Rating para ' + skill.name"
                [attr.aria-valuenow]="skill.rating"
                aria-valuemin="0"
                aria-valuemax="5"></p-rating>
      <p>
        {{ getSubskillsStr(skill.uid!) }}
      </p>
    </div>
  </article>
</div>
