/* Footer */
#footer {
  text-align: center;
  min-height: 20vh;
  padding: 3em 0 2em 0;
}
#footer .copyright {
  color: #9fa3a6;
  font-size: 0.9em; }
#footer .copyright a {
  color: inherit; }

.waving-icon:hover {
  animation: waving 0.5s ease-in-out;
  display: inline-block;
}
@keyframes waving {
  0%, 20%, 50%, 80%, 100% {
    transform: rotate(0deg);
  }
  40%, 60% {
    transform: rotate(30deg);
  }
}
