<!-- Footer -->
<footer id="footer">
  <ul class="icons" role="listbox" aria-label="Redes sociales">
    <li role="option"><a href='https://www.linkedin.com/in/sheycc/' class="icon brands fa-linkedin waving-icon" aria-label="Linkedin de Sheyla Cruz Castro" target="_blank" rel="noopener noreferrer">
      <span class="label">LinkedIn</span></a>
    </li>
    <li role="option"><a href='https://github.com/sheycc' class="icon brands fa-github waving-icon" aria-label="GitHub de Sheyla Cruz Castro" target="_blank" rel="noopener noreferrer">
      <span class="label">GitHub</span></a>
    </li>
  </ul>
  <p class="copyright">2024 &copy; {{ 'FOOTER.DESIGN_BY' | translate }} <a [routerLink]="['/portafolio']" aria-label="Ir al portafolio de Sheyla Cruz Castro">Sheyla Cruz Castro</a>.</p>
</footer>
